<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CMWatcherEntities" connectionString="metadata=res://*/CMWatcherModel.csdl|res://*/CMWatcherModel.ssdl|res://*/CMWatcherModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=G:\Projects\CMWatcher\Database\CMWatcher.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>